@model WallsCalculator.Models.WallsCalculator.Models.BrickCalculationOutput
<h3>Расчёты:</h3>

<p>Площадь кладки: @Model.AreaToCover м<sup>2</sup></p>
<p>Количество выбранного типа кирпича и толщины в 1 м<sup>2</sup>: @Model.BricksInOneSquareM шт.</p>
<p>Количестов кирпича необходимого для кладки: @Model.BricksAmount шт.</p>
<p>Стоимость кирпичей: @Model.AllBricksPrice руб.</p>
<p>Площадь, которой не нужна кладка: @Model.AreaToNotCover м<sup>2</sup></p>
<p>Стоимость найма рабочих: @Model.AllWorkersPrice руб.</p>

<!-- Эти инпуты не менянь, не трогать -->
<form asp-controller="Calculator" asp-action="GetDocument">
    <input type="hidden" asp-for="BricksAmount" value="@Model.BricksAmount"/>
    <input type="hidden" asp-for="AllBricksPrice" value="@Model.AllBricksPrice"/>
    <input type="hidden" asp-for="AreaToCover" value="@Model.AreaToCover"/>
    <input type="hidden" asp-for="AreaToNotCover" value="@Model.AreaToNotCover"/>
    <input type="hidden" asp-for="BricksInOneSquareM" value="@Model.BricksInOneSquareM"/>
    <input type="hidden" asp-for="Input.DepthType" value="@Model.Input.DepthType"/>
    <input type="hidden" asp-for="Input.Perimeter" value="@Model.Input.Perimeter"/>
    <input type="hidden" asp-for="Input.Price" value="@Model.Input.Price"/>
    <input type="hidden" asp-for="Input.MortarType" value="@Model.Input.MortarType"/>
    <input type="hidden" asp-for="Input.AngleHeight" value="@Model.Input.AngleHeight"/>
    <input type="hidden" asp-for="Input.BrickType" value="@Model.Input.BrickType"/>
    <input type="hidden" asp-for="Input.MasonryType" value="@Model.Input.MasonryType"/>
    @{
        var apertures = Model?.Input.Apertures.ToArray() ?? Array.Empty<ApertureInput>();
        for (var i = 0; i < apertures.Length; i++)
        {
            <input type="hidden" asp-for="Input.Apertures[@i].ApertureType" name="Input.Apertures[@i].ApertureType" value="@apertures[i].ApertureType"/>
            <input type="hidden" asp-for="Input.Apertures[@i].Width" name="Input.Apertures[@i].Width" value="@apertures[i].Width"/>
            <input type="hidden" asp-for="Input.Apertures[@i].Height" name="Input.Apertures[@i].Height" value="@apertures[i].Height"/>
        }

        var workers = Model?.Input.Workers.ToArray() ?? Array.Empty<WorkerInput>();
        for (var i = 0; i < workers.Length; i++)
        {
            <input type="hidden" asp-for="Input.Workers[@i].DurationInDays" name="Input.Workers[@i].DurationInDays" value="@workers[i].DurationInDays"/>
            <input type="hidden" asp-for="Input.Workers[@i].QuantityOfWorkers" name="Input.Workers[@i].QuantityOfWorkers" value="@workers[i].QuantityOfWorkers"/>
            <input type="hidden" asp-for="Input.Workers[@i].Price" name="Input.Workers[@i].Price" value="@workers[i].Price"/>
        }
    }
    <!-- Эти инпуты не менянь, не трогать -->

    <button type="submit" class="btn btn-primary">Получить Word</button>
</form>