@model WallsCalculator.Models.WallsCalculator.Models.BrickCalculationOutput

<div class="row justify-content-md-center m-3" id="brickResult">
    <div class="col-7 calculatorWrapperShadow p-4">
        <h3>Результаты расчётов</h3>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Площадь кладки</td>
                    <td>@Model.AreaToCoverSquareM м<sup>2</sup></td>
                </tr>
                <tr>
                    <td>Толщина стены</td>
                    <td>@Model.WallDepthCentimeters см</td>
                </tr>
                <tr>
                    <td>Количество выбранного типа кирпича и толщины в 1 м<sup>2</sup></td>
                    <td>@Model.OneSquareBricksAmount шт.</td>
                </tr>
                <tr>
                    <td>Количестов кирпича необходимого для кладки</td>
                    <td>@Model.TotalMaterialAmount шт. </td>
                </tr>
                <tr>
                    <td>Стоимость кирпичей</td>
                    <td>@Model.TotalMaterialPrice руб.</td>
                </tr>
                <tr>
                    <td>Площадь, которой не нужна кладка </td>
                    <td>@Model.AreaToNotCoverSquareM м<sup>2</sup></td>
                </tr>
                <tr>
                    <td>Число рядов кладочной сетки</td>
                    <td>@Model.MasonryGridRowsAmount шт.</td>
                </tr>
                <tr>
                    <td>Площадь необходимой кладочной сетки</td>
                    <td> @Model.AreaForMasonryGrid м<sup>2</sup></td>
                </tr>
                <tr>
                    <td>Количество кирпичей в колонне</td>
                    <td>@Model.ColumnBricksAmount шт.</td>
                </tr>
                <tr>
                    <td>Стоимость найма рабочих</td>
                    <td>@Model.AllWorkersPrice руб.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<form asp-controller="Calculator" asp-action="BrickGetDocument">
    <input type="hidden" asp-for="Input.DepthType" value="@Model.Input.DepthType" />
    <input type="hidden" asp-for="Input.Perimeter" value="@Model.Input.Perimeter" />
    <input type="hidden" asp-for="Input.Price" value="@Model.Input.Price" />
    <input type="hidden" asp-for="Input.MortarType" value="@Model.Input.MortarType" />
    <input type="hidden" asp-for="Input.AngleHeight" value="@Model.Input.AngleHeight" />
    <input type="hidden" asp-for="Input.BrickType" value="@Model.Input.BrickType" />
    <input type="hidden" asp-for="Input.MasonryType" value="@Model.Input.MasonryType" />
    @{
        var apertures = Model?.Input.Apertures.ToArray() ?? Array.Empty<ApertureInput>();
        for (var i = 0; i < apertures.Length; i++)
        {
            <input type="hidden" asp-for="Input.Apertures[@i].ApertureType" name="Input.Apertures[@i].ApertureType" value="@apertures[i].ApertureType" />
            <input type="hidden" asp-for="Input.Apertures[@i].Width" name="Input.Apertures[@i].Width" value="@apertures[i].Width" />
            <input type="hidden" asp-for="Input.Apertures[@i].Height" name="Input.Apertures[@i].Height" value="@apertures[i].Height" />
        }

        var workers = Model?.Input.Workers.ToArray() ?? Array.Empty<WorkerInput>();
        for (var i = 0; i < workers.Length; i++)
        {
            <input type="hidden" asp-for="Input.Workers[@i].DurationInDays" name="Input.Workers[@i].DurationInDays" value="@workers[i].DurationInDays" />
            <input type="hidden" asp-for="Input.Workers[@i].QuantityOfWorkers" name="Input.Workers[@i].QuantityOfWorkers" value="@workers[i].QuantityOfWorkers" />
            <input type="hidden" asp-for="Input.Workers[@i].Price" name="Input.Workers[@i].Price" value="@workers[i].Price" />
        }
    }
    <div class="row justify-content-md-center">
        <div class="col-7">
            <button type="submit" class="btn calculatorBtnColor">Получить Word</button>
        </div>
    </div>
</form>